[Unit]
Description=Adjust brightness when resuming from suspend.
After=suspend.target

[Service]
Type=simple
ExecStart=/bin/sh -c "echo 70 > /sys/class/backlight/acpi_video0/brightness"

[Install]
WantedBy=suspend.target
