[Unit]
Description=Adjust brightness when resuming from suspend.
After=suspend.target

[Service]
Type=simple
ExecStart=/bin/sh -c "echo 275 > /sys/class/backlight/intel_backlight/brightness"

[Install]
WantedBy=suspend.target
